# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# Django
db.sqlite3
*.log
staticfiles/
media/

# Django secret keys
*.key

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

__pycache__/
*.pyc
*.pyo
*.pyd
venv/
